.req-wrapper{
    border-color: #fecd00;
    border-width: 5px;
    border-style: outset;
    padding:5px;
    
    background-color: #006aa8;
    color: azure;
}

.req-wrapper > .req-3 img {
    width: 1000px;

    height: 100%;
}